.client-dashboard-container {
  margin-top: 20px; /* Adjust this value as needed */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensure it's on top */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: inline-block;
  width: 50px; /* adjust as needed */
  height: 50px; /* adjust as needed */
  border: 5px solid rgba(255, 255, 255, 0.3); /* light gray */
  border-radius: 50%; /* circular shape */
  border-top: 5px solid #333; /* dark gray */
  animation: spin 1s linear infinite;
}